@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --transition-bg-color: background-color 0.3s ease-in-out;
    --red: #ef4444;
    --light-red: #dd6e42;
    --green: #95c623;
    --khaki: #96897b;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

.transition-bg-color {
    transition: var(--transition-bg-color);
}

.isPar {
    background-color: var(--light-red);
    transition: var(--transition-bg-color);
}

.isDelay {
    background-color: var(--khaki);
    transition: var(--transition-bg-color);
}

.isPar_text {
    color: --red;
    transition: var(--transition-bg-color);
}

.isDelay_text {
    color: var(--green);
    transition: var(--transition-bg-color);
}

.isReady_text {
    color: #f9fafb;
    transition: var(--transition-bg-color);
}

button.is-randomized {
    background-color: var(--red);
    transition: var(--transition-bg-color);
}

button.is-derandomized {
    background-color: var(--khaki);
    transition: var(--transition-bg-color);
}
